* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


footer {
  height: 100px;
  background-color: aquamarine;
}

main {
  height: calc(100vh - 100px);
  background-color: darksalmon;
  display: flex;
}

header {
  background-color: hotpink;
  width: calc(100vw - 200px);
  height: 30px;
}

#sidebar {
  width: 200px;
  background-color: cornflowerblue;
  height: 100%;
}

#content {
  height: 100%;
  width: calc(100vw - 200px);
  background-color: darkkhaki;
  overflow-y: auto;
  color: black;
}