* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  height: 100px;
  background-color: #282828;
  color: white;
}

main {
  height: calc(100vh - 100px);
  background-color: #141922;
  display: flex;
}

ul li {
  list-style-type: none;
}



#content {
  height: 100%;
  width: calc(100vw - 200px);
  background-color: #141922;
  overflow-y: auto;
  color: white;
}



/* sidebar */

#sidebar {
  width: 200px;
  background-color: #000;
  height: 100%;
  color: #a3a3a3;
  padding: 10px 20px;
}

h2 {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 15px;
}

.nav-top {
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
}

.nav-playlist {
  line-height: 30px;
  font-size: 11px;
  font-weight: bold;
}

.nav-playlist .newplay {
  font-size: 13px;
}

.nav-playlist {
  margin-bottom: 60px;
}

.add {
  vertical-align: middle;
  font-size: 30px;
}

.logo-large {
  width: 70%;
  margin-bottom: 30px;
}

.logo-small {
  width: 50%;
  display: none;
}

.nav-top ul li img {
  width: 10%;
}

.nav-playlist ul li img {
  width: 10%;
}

.download img {
  width: 10%;
}

.account img {
  width: 10%;
}

.download img {
  vertical-align: middle;
}

.sidebar-down {
  line-height: 40px;
}

.download {
  display: inline;
  font-size: 12px;
  padding-right: 70px;
  border-bottom: 1px solid #a3a3a3;
  padding-bottom: 10px;
}

.account img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: grey;
  vertical-align: middle;
}

.account b {
  color: white;
  font-size: 13px;
  padding: 5px
}


/* content topbar */

.topbar {
  width: 100%;
  background-color: #131111;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.topbar .upgrade {
  text-transform: uppercase;
  font-size: 10px;
  border: 1px solid white;
  padding: 10px 50px;
  border-radius: 50px;
}


/* content stripe playlist */

.nav-mood {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.stripe-playlist ul li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  padding: 0 10px;
  color: #a3a3a3;
}

/* recently played */

.container {
  max-width: 100%;
  margin: 15px
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.col-100 {
  width: 100%;
  padding-bottom: 20px
}

.col-30 {
  width: calc(90% / 6);
  padding-bottom: 30px;
}

.col-30 img {
  width: 100%;
  padding-bottom: 10px;
}

.col-30 {
  text-align: center;
}

.play-title {
  font-size: 15px;
  font-weight: bold;
}

.play-subtitle {
  font-size: 10px;
  color: #a3a3a3;
}

.col-100 h3 {
  font-size: 25px;
}

.col-100 h4 {
  font-size: 12px;
  color: #a3a3a3;
}


/* footer */


.col-33 {
  width: calc(98% / 3);
  padding-top: 20px;
}

.col-33 .music {;
  display: inline;
  vertical-align: middle;
}

.col-33 img {
  width: 10%;
}